<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v3.8.5" />
    <title>Starter Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.3/examples/starter-template/"
    />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/common.css" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/public/assets/records.svg" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/api/customer/add"
                >Add Customer</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">The Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="container w-25 float-right">
        <img
          src="/public/assets/photo_placeholder.jpg"
          class="rounded"
          id="userPhoto"
        />
      </div>
      <div class="container w-75 float-left">
        <form
          action="/api/customer"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-error">
            <b id="inputError"><%= errorInput %></b>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter Your Full Name"
            />
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Mobile</label>
            <input
              type="text"
              class="form-control"
              id="mobile"
              name="mobile"
              placeholder="Enter Your Mobile No."
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Age</label>
            <input
              type="text"
              class="form-control"
              id="age"
              name="age"
              placeholder="Enter Your Age "
            />
          </div>

          <div class="form-group">
            <label>Gender</label><br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="isFemale"
                id="inlineRadio1"
                value="0"
                checked
              />
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="isFemale"
                id="inlineRadio2"
                value="1"
              />
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>

          <div class="form-group form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="isGold"
              name="isGold"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Is Gold ?
            </label>
          </div>

          <div class="form-group custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="avatar"
              id="filePicker2"
              accept="image/jpeg"
              onchange="readFile()"
            />
            <label class="custom-file-label" for="customFile"
              >Choose file</label
            >
          </div>
          <br /><br />
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </main>
    <!-- /.container -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
    <script>
      function readFile() {
        var selected = document.getElementById("filePicker2").files[0];
        var reader = new FileReader();
        reader.addEventListener("loadend", () => {
          document.getElementById("userPhoto").src = reader.result;
        });
        reader.readAsDataURL(selected);
      }
    </script>
  </body>
</html>
