<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.79.0" />
    <title>Customer Info System</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/starter-template/"
    />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/common.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <meta name="theme-color" content="#7952b3" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet"> -->
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/public/assets/records.svg" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/api/customer/add"
                >Add Customer</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">The Team</a>
            </li>
          </ul>
          <form
            class="form-inline my-2 my-lg-0"
            method="GET"
            action="/api/searchcards/<% value = '' %>"
          >
            <input
              class="form-control mr-sm-2"
              type="text"
              name="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <main class="container">
      <div>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a
              id="tableViewLink"
              class="nav-link"
              aria-current="page"
              href="/api/customer"
            >
              <img width="25" height="30" src="/public/assets/table.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a
              id="cardViewLink"
              class="nav-link active"
              href="/api/customer/cards"
            >
              <img width="25" height="30" src="/public/assets/cards.svg" />
            </a>
          </li>
        </ul>
      </div>

      <div id="cardView" class="starter-template text-center py-5 px-3">
        <% let cardCounter = 0 %> <% customers.forEach(item=>{ if(item.visible) { %> <%
        cardCounter++ %> <% if(cardCounter % 3 == 1) { %>
        <!-- START New Row -->
        <div class="row">
          <% } %>

          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <img src="data:image/<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64')%>" alt="<%= item.name %>" style="width: 100%" />
              <br>
              <div class="container">
                <h3>
                  <%= item.name %> <% if(item.isGold) { %>
                  <img width="25" height="30" src="/public/assets/gold.svg" />
                  <% } %>
                </h3>
                <p><%= item.mobile %></p>
                <% if(item.age > 0) { %>
                <p>Age: <%= item.age %></p>
                <% } %>
                <!--
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
                -->
                <p>
                  <a
                    href="/api/customer/show/<%= item._id %>"
                    class="btn btn-primary"
                    >Details</a
                  >
                  <!--
                  <a
                    href="/api/customer/delete/<%= item._id %>"
                    class="btn btn-raised btn-danger"
                    >Delete</a
                  >
                  -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-customer-id="<%= item._id %>">Delete</button>
                </p>
              </div>
            </div>
          </div>
          <% if(cardCounter % 3 == 0) { %>
          <!-- END New Row -->
        </div>
        <%} %> <% } })%>
      </div>
    </main>
    <!-- /.container -->

    <form>
      <input type="hidden" id="customerIDtoDelete" />
    </form>

    <!-- Delete Confirmation Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the customer?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              id="confirmedDelete"
              type="button"
              class="btn btn-danger"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      var selectedCustomerID = 0;

      //triggered when modal is about to be shown
      $('#deleteModal').on('show.bs.modal', function(e) {
          //get data-id attribute of the clicked element
          selectedCustomerID = $(e.relatedTarget).data('customer-id');
      });

      $('#confirmedDelete').on('click', function(e) {
          document.location = '/api/customer/deletecards/' + selectedCustomerID;
      });

    </script>
  </body>
</html>
