<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Customer Info System</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/common.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet"> -->
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/public/assets/records.svg"/>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/api/customer/add"
                >Add Customer</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">The Team</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0"
                method="GET" action="/api/search/<% value = '' %>">
                 <input class="form-control mr-sm-2" type="text" name="search"
                  placeholder="Search" aria-label="Search">
                 <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <main class="container">
      
<div>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a
              id="tableViewLink"
              class="nav-link active"
              aria-current="page"
              href="/api/customer"
            >
              <img width="25" height="30" src="/public/assets/table.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a
              id="cardViewLink"
              class="nav-link"
              href="/api/customer/cards"
            >
              <img width="25" height="30" src="/public/assets/cards.svg" />
            </a>
          </li>
        </ul>
      </div>

        <div id="tableView" class="starter-template text-center py-5 px-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><a href="/api/customer/name">Full Name</a></th>
                        <th scope="col">Gender</th>
                        <th scope="col"><a href="/api/customer/age">Age</a></th>
                        <th scope="col"><a href="/api/customer/mobile">Mobile</a></th>
                        <th scope="col"><a href="/api/customer/isGold">Is Gold</a></th>
                        <th scope="col">Details</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% let counter=1 %>
                        <% customers.forEach(item=>{ if(item.visible) {%>
                            <tr>
                                <td>
                                    <%= counter++ %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <% if(item.isFemale) { %>
                                        <img width='25' height='30' src='/public/assets/female.svg'>
                                        <% } else { %>
                                            <img width='25' height='30' src='/public/assets/male.svg'>
                                            <%} %>
                                </td>
                                <td>
                                    <%= item.age %>
                                </td>
                                <td>
                                    <%= item.mobile %>
                                </td>
                                <td>
                                    <% if(item.isGold) { %>
                                        <img width='25' height='30' src='/public/assets/gold.svg'>
                                        <% } else { %>
                                            <img width='25' height='30' src='/public/assets/not-gold.svg'>
                                            <%} %>
                                </td>
                                <td> <a href="/api/customer/show/<%= item._id %>" class="btn btn-primary">Details</a></td>
                                <td>
                                    <a href="/api/customer/delete/<%= item._id %>" class="btn btn-raised btn-danger">Delete</a></td> 
                                </td>
                            </tr>
                            <% }})%>

                </tbody>
            </table>

        </div>

    </main><!-- /.container -->

    <form>
      <input type="hidden" id="customerIDtoDelete">
    </form>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the customer?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="confirmedDelete" type="button" class="btn btn-danger" onclick="">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>