<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.79.0" />
    <title>The Team</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/starter-template/"
    />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/common.css" />

    <meta name="theme-color" content="#7952b3" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet" />
  </head>

  <body class="teambody">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/public/assets/records.svg"/>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/api/customer/add"
                >Add Customer</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/team">The Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="starter-template text-center py-5 px-3">
        <h3>Project Team</h3>
        <br /><br />

        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <!--<img src="reema.jpg" alt="Reema Abaoud" style="width: 100%" />-->
              <div class="container">
                <h3>Reema Abaoud</h3>
                <p>reema@abaoud.com</p>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <!--<img src="raad.jpg" alt="Ra'ad Aldakhil" style="width: 100%" />-->
              <div class="container">
                <h3>Ra'ad Aldakhil</h3>
                <p>raad@dakhil.com</p>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <!--<img src="ghafli.jpg" alt="Ahmad Alghafli" style="width: 100%" />-->
              <div class="container">
                <h3>Ahmad Alghafli</h3>
                <p>ahmad@ghafli.com</p>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <!--<img src="ismail.jpg" alt="Ismail Mohammed" style="width: 100%" />-->
              <div class="container">
                <h3>Ismail Mohammed</h3>
                <p>ismail@mohammed.com</p>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <!--<img src="mohsin.jpg" alt="Mohammad Al-Mohsin" style="width: 100%" />-->
              <div class="container">
                <h3>Mohammad Mohsin</h3>
                <p></p>
                <a href="https://linkedin.com/in/almohsin" class="btn">
                  <img class="social-icons" src="/icons/linkedin.svg" />
                </a>
                <a href="https://instagram.com/almohsin_m" class="btn">
                  <img class="social-icons" src="/icons/instagram.svg" />
                </a>
                <a href="mailto:mohammad@almohs.in" class="btn">
                  <img class="social-icons" src="/icons/envelope-fill.svg" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- /.container -->

    <script
      src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
